<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461367772402-lriftkebdrked1qbvl18iiqhn703ab2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461367772402-lriftkebdrked1qbvl18iiqhn703ab2s</string>
	<key>API_KEY</key>
	<string>AIzaSyDquESLWlHEuTGi2JsZMrjH0-TQNhAPZXI</string>
	<key>GCM_SENDER_ID</key>
	<string>461367772402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>authe-af1a4</string>
	<key>STORAGE_BUCKET</key>
	<string>authe-af1a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461367772402:ios:bc74c7b0297e02cbb63c6b</string>
</dict>
</plist>